# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# ======================
# Flask / Database
# ======================
instance/
*.db

# ======================
# Flask-Migrate
# ======================
migrations/versions/__pycache__/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# OS files
# ======================
.DS_Store

# ======================
# Logs
# ======================
*.log
